@import "https://www.w3schools.com/w3css/4/w3.css";
@import "https://www.w3schools.com/lib/w3-theme-light-blue.css";


body{
  background-color: #87ceeb !important;
}

/*

table{
  width: 25%;
  border: 1px solid;
}

th, td{
  border: 1px solid;
  padding: 3px;
}

.mydataleft{
  text-align: left;
}

.mydataright{
  text-align: right;
}

.mydatacenter{
  text-align: center;
}

.mydatabutton{
  margin: auto;
}

.mydatareversebutton{
  text-align: center;
}

*/
