body{
  background-color: lightblue;
}

table{
  width: 20%;
  border: 1px solid;
}

th, td{
  border: 1px solid;
  padding: 3px;
}

.mydataleft{
  text-align: left;
}

.mydataright{
  text-align: right;
}

.mydatacenter{
  text-align: center;
}
